{% extends "base.html.twig" %}
{% load static %}

{% block title %}Panier{% endblock %}

{% block content %}

<form> </from> 
<div class="col-xs-4">
  <div class="tile">
    <h3 class="tile-title">Votre panier est vide</h3>
  </div>
</div>

{% endblock %}
